@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 35, 98%, 74%;
    --primary-text: 41, 100%, 28%;
    --primary-text-hover: 41, 100%, 35%;

    --secondary: 41, 100%, 42%;
    --secondary-text: 35, 46%, 56%;

    --emphasize: 24, 100%, 41%;
    --emphasize-dark: 41, 100%, 28%;

    --background-dark: 35, 98%, 74%;
    --background-light: 37, 83%, 94%;
}

@layer base {
    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }
}

@layer utilities {
    .wrapper {
        @apply max-w-4xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
    }
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-between {
        @apply flex justify-between items-center;
    }
    .text-balance {
        text-wrap: balance;
    }
}
