@import "tailwindcss";

@theme {
  --color-primary: hsl(35, 98%, 74%);
  --color-primary-text: hsl(14, 26%, 29%);
  --color-primary-text-hover: hsl(41, 100%, 35%);

  --color-secondary: hsl(41, 100%, 42%);
  --color-secondary-text: hsl(35, 46%, 56%);

  --color-emphasize: hsl(21, 100%, 60%);
  --color-emphasize-dark: hsl(41, 100%, 28%);

  --color-background-dark: hsl(35, 98%, 74%);
  --color-background-light: hsl(37, 83%, 94%);

  --animate-shiba-loading: shiba-loading 0.5s steps(2) infinite alternate;
  @keyframes shiba-loading {
    from {
      background-position: 0px;
    }
    to {
      background-position: -600px;
    }
  }
}

@layer base {
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}
