@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "粉圓黑體";
	font-style: normal;
	src: url("/fonts/jf-openhuninn-2.0.ttf") format("truetype");
}

@layer base {
	html {
		font-family: "粉圓黑體", sans-serif;
	}
}

:root {
	--background-start-rgb: 253, 203, 123;
	--background-end-rgb: 255, 255, 255;
}
html,
body,
#__next {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
